export AWS_ACCOUNT_ID=...
export AWS_REGION=eu-central-1
export STRATEGY_SLUG=htf-fvg-ltf-bos
export STRATEGY=htf_fvg_ltf_bos
export SYMBOL_SLUG=btc
export SYMBOL="BTC/USDT:USDT"
export HTF_TIMEFRAME=1h
export LTF_TIMEFRAME=15m
export LTF_INTERVAL_CRON="cron(0/15 * * * ? *)"
export TELEGRAM_BOT_TOKEN=...
export TELEGRAM_CHAT_ID=...
